* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
    background-color: #EFF1F3;
    height: 800px;
}

nav {
    background-color: #223843;
    height: 100px;
    padding: 15px;
    text-align: center;

}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

#contact {
    margin-left: 30px;
    background-color: #D77A61;
}

#home {
    margin-right: auto;
}

#logo {
    height: 40px;
}

#techpic{
    height: 500px;
    margin-left: 60px ;
    margin-top: 60px;
}
nav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    font-size: 2rem;
}

#aboutUs {
    background-color: #DBD3D8;
    height: 800px;

}

#services {
    background-color: #D8B4A0;
    height: 600px;

}

footer {
    background-color: #D77A61;
    height: 300px;

}